.listContainer {
  height: 43em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listContainer div,
ul {
  margin: 0;
}
.iconContainer {
  display: inherit;
  border: 1px solid #dcd5d5;
  margin-right: 10px !important;
  padding: 2x;
}
.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.searchContainer {
  border-radius: 5px;
  display: flex;
  padding: 10px;
  position: relative;
}

.searchContainer img {
  position: absolute;
  padding: 15px 0px;
  left: 88%;
}

.title {
  font-weight: 600;
}
.container {
  border: 1px solid #dcd5d5;
}
.leftPadding20 {
  padding: 10px 20px;
}
.divider {
  border-bottom: 1px solid #dcd5d5;
}

.friendList {
  background: #e2ecf3b8 !important;
}
.header {
  background: #afd6f8ed;
  padding: 15px 20px;
}
.friendDetails {
  width: 65%;
  float: left;
}
div.friendDetails > span {
  width: 100%;
  display: inline-block;
}

.margin20px {
  margin: 20px !important;
}

.confirmationModel {
  z-index: 9999999;
  position: absolute;
  top: 35%;
  left: 38%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  font-weight: 600;
}
.confirmationModel div {
  margin-bottom: 10px;
  padding: 20px;
}
.confirmationModel button {
  margin-left: 6px;
  padding: 6px;
  background: white;
  color: black;
  border-radius: 4px;
}

.confirmationModel button:hover {
  background: aliceblue;
}

.paginationContainer {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.navigationList {
  display: inline;
}
.navigationList button {
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 10px;
  border: 1px solid #dcd5d5;
  border-radius: 4px;
  color: black;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px;
  background: white;
}

.navigationList button:hover {
  background: aliceblue;
}

nav {
  background: #f0f0f0e8;
}

.padding20 {
  padding: 20px;
}
